<!DOCTYPE html>
<html>
  <head>
    <title>List Movies</title>
    <link rel="stylesheet" type="text/css" href="/WebObjects/Frameworks/ERModernDefaultSkin.framework/WebServerResources/default_login_page.css" />
  </head>
  <body>
  <webobject name = "LoginForm">
  <div id="LoginForm">
  	<label>Username:</label><webobject name = "Username"/><br />
  	<label>Password:</label><webobject name = "Password"/><br />
  	<div class="button_bar"><a href="javascript:void();" onclick="document.forms['LoginForm'].submit()" class="Button"><span>Login</span></a></div>
  </div>
  </webobject>

  </body>
</html>