<!DOCTYPE html>
<html>
  <head>
    <title>Inspect Studio</title>
    <link rel="stylesheet" type="text/css" href="/WebObjects/Frameworks/ERModernDirectToWeb.framework/WebServerResources/reset_base_fonts.css" />
    <link rel="stylesheet" type="text/css" href="/WebObjects/Frameworks/ERModernDefaultSkin.framework/WebServerResources/default_screen_stylesheet.css" />
  </head>
  <body>
  <div id="MainContent">
  <div class="Wrapper InspectWrapper">
  <div class="Header InspectHeader">
  	<h1 class="PageHeader">Inspect Studio</h1>
  </div>
  <div class="InnerWrapper InspectInnerWrapper">
	  <div class="Line OddLine InspectLine">
	  	<div class="LineInner"><span class="LabelWrapper"><span class="Label">Name</span></span><span class="AttrVal InspectAttrVal"><webobject name = "StudioName" /></span></div>
	  	<div class="LineInner"><span class="LabelWrapper"><span class="Label">Movies</span></span>
	  		<span class="AttrVal InspectAttrVal">
	  		<webobject name = "MoviesRepetition">
	  			<div class=""><webobject name = "Movie" /></div>
	  		</webobject>
	  		</span>
	  	</div>
	  </div>
	  <div class="BtmActions InspectBtmActions">
	  	<ul class="ActionList">
	  		<li><a class="Button PageButton ReturnPageButton" href="javascript:history.go(-1);"><span>Return</span></a></li>
	  	</ul>
	  </div>
  </div>
  </div>
  </div>
  
  </body>
</html>